body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.container-fluid {
  padding: 5% 15%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
.colored-box {
  background-color: #ff5c74;
  color: #fff;
}
.black-white {
  background-color: #fff;
  color: #000000;
}
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

/* navbar styles */
.navbar {
  padding-bottom: 3%;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}

/* title section styles */
.title-bio {
    padding: 5%;
    text-align: left;
}

/* download buttons */
.download-button {
  font-size: 100%;
  width: 150px;
  margin: 10px;
}

/* phone screen */
.iphone-display {
    margin: 10px;
    object-position: center;
  width: 60%;
  transform: rotate(25deg);
}

/* feature */
.feature-icons {
  margin-bottom: 1rem;
  color: #ef8172;
}
.feature-icons:hover {
  color: #ff4c68;
}
.feature-col {
  padding: 4.5%;
  line-height: 2rem;
}
.feature-col p {
  color: #8f8f8f;
}

/* Testimonials */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
.press-logo {
  width: 90%;
  margin: 10px;
}

/* Pricing */
.card {
  border-radius: 5%;
  margin: 2%;
  padding: 3% 2%;
}
.pricing-btn {
  width: 100%;
}

/* footer */
.sm {
  margin: 1%;
}
#footer p {
  color: #8f8f8f;
}

@media screen and (max-width: 992px) {
  .big-heading {
    font-size: 2.5rem;
  }
  .iphone-display {
    transform: rotate(0);
  }
}
@media screen and (max-width: 450px) {
  .iphone-display {
    width: 100%;
  }
}
